<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@*BiBo后台管理系统*@ServiceFabric</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/dist/css/app.css" />
    <script type="text/javascript">
        var ApiKey = '@ViewBag.ApiKey';
    </script>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="~/Assets/dist/js/app.js"></script>
</body>
</html>